{% extends "__main.html" %}

{% block content %}

    {% if invoices %}
        <br>
        <strong>Invoices are:</strong>
        {% for invoice in invoices %}
            <hr>
            (id): {{ invoice.id }}
            <br>(order_id): {{ invoice.order_id }}
            <br>(store_id): {{ invoice.store_id }}
            <br>(currency): {{ invoice.currency }}
            <br>(items):
                {% for item in invoice.items %}
                    -(id: {{ item.store_item_id }}/quantity: {{ item.quantity }}/ unit_price: {{ item.unit_price }})-
                {% endfor %})
            <br>(created): {{ invoice.created }}
            <br>(payment): {{ invoice.payment.payment_id }}
        {% endfor %}
    {% endif %}

    {% if payments %}
        <hr><br><br>
        <strong>Payments are:</strong><br>
        {% for payment in payments %}
            {% if payment.id %}(id): {{ payment.id }}<br>{% endif %}
            {% if payment.card_number %}(card_number): {{ payment.card_number }}<br>{% endif %}
            {% if payment.status %}(status): {{ payment.status }}<br>{% endif %}
            {% if payment.notify_by_email %}(notify_by_email): {{ payment.notify_by_email }}<br>{% endif %}
            {% if payment.notify_by_phone %}(notify_by_phone): {{ payment.notify_by_phone }}<br>{% endif %}
            {% if payment.invoice_id %}(invoice_id): {{ payment.invoice_id }}<br>{% endif %}
            {% if payment.created %}(created): {{ payment.created }}<br>{% endif %}
            {% if payment.updated %}(updated): {{ payment.updated }}<br>{% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}