{% extends "__main.html" %}

{% block content %}

    You are buying an item in "{{ shop.name }}" shop.
    <br>Pay with <a href="{{ url_for('credit_card_payment_form', shop_id=shop.id) }}">Credit Card</a> /
    <a href="{{ url_for('paypal_simple_payment_form', shop_id=shop.id) }}">PayPal Simple</a> /
    <a href="{{ url_for('paypal_payment_form', shop_id=shop.id) }}">PayPal</a>

    <br><br>
    {% if err %}
        {% for i in err %}
            <font color="red">{{ i }}: {{ err[i] }}</font>
        {% endfor %}
    {% endif %}

    <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <input TYPE="hidden" NAME="return" value="{{ url_for('thank_you', shop_id=shop.id) }}">

        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="{{ data.business }}">

        <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
        <input type="hidden" name="cmd" value="{{ data.cmd }}">
        <input type="hidden" name="add" value="{{ data.add }}">

        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value="{{ data.item_name }}">
        <input type="hidden" name="amount" value="{{ data.amount_total }}">
        <input type="hidden" name="currency_code" value="{{ data.amount_total }}">

        <!-- Display the payment button. -->
        <input type="image" name="submit"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
        alt="PayPal - The safer, easier way to pay online">
        <img alt="" width="1" height="1"
        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
    </form>

    <br><br><br><br><br><br><br><br><br><br>
    <font color="green">Hidden data:</font>
    <br>amount_total: {{ data.amount_total }}
    <br>amount_currency: {{ data.amount_currency }}
    <br>business: {{ data.business }}
    <br>cmd: {{ data.cmd }}
    <br>add: {{ data.add }}
    <br>item_name: {{ data.item_name }}

{% endblock %}