<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('.static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <title>Title</title>
</head>
<body>

    <!--Navigation-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 container">
            <font color="green">| <a href="{{ url_for('home') }}">Shops List</a> |</font>

            <!--Content-->
            <br><br>
            {% block content %}{% endblock %}

        </div>
        <div class="col-md-1"></div>
    </div>

</body>
</html>