{% extends "__main.html" %}

{% block content %}

    <form class="form-horizontal" action="{{ url_for('credit_card_form') }}" method='post'>

        <div class="form-group">
            <label for="store_id" class="col-sm-2 control-label">Store ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="store_id" id="store_id" value="storeId1">
            </div>
        </div>

        <div class="form-group">
            <label for="item_id" class="col-sm-2 control-label">Item ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="item_id" id="item_id" value="itemId1">
            </div>
        </div>

        <div class="form-group">
            <label for="quantity" class="col-sm-2 control-label">Quantity</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="quantity" id="quantity" value="2">
            </div>
        </div>

        <div class="form-group">
            <label for="amount_total" class="col-sm-2 control-label">Amount Total</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="amount_total" id="amount_total" value="100">
            </div>
        </div>

        <div class="form-group">
            <label for="amount_currency" class="col-sm-2 control-label">Amount Currency</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="amount_currency" id="amount_currency" value="USD">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Get</button>
            </div>
        </div>

    </form>

    {% if orders %}
        <br>
        <strong>Orders are:</strong>
        {% for order in orders %}
            <hr>Store_id: {{ order.store_id }}
            Transactions:
            {% for transaction in order.transactions %}
                {{ transaction }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if transactions %}
        <hr><br><br>
        <strong>Transactions are:</strong><br>
        {% for transaction in transactions %}
            <hr>{{ transaction.id }}
            <br>{{ transaction.order_id }}
            <br>{{ transaction.transaction_id }}
            <br>{{ transaction.creation_date }}
            <br>{{ transaction.status }}
            <br>{{ transaction.status_updatedate }}
            <br>{{ transaction.amount_total }}
            <br>{{ transaction.amount_currency }}
            <br>{{ transaction.payment_method }}
            <br>{{ transaction.store_id }}
            <br>{{ transaction.item_id }}
            <br>{{ transaction.payer_card_number }}
            <br>{{ transaction.payer_card_first_name }}
            <br>{{ transaction.payer_card_last_name }}
            <br>{{ transaction.payer_email }}
            <br>{{ transaction.payer_phone }}
        {% endfor %}
    {% endif %}

{% endblock %}