{% extends "__main.html" %}

{% block content %}

<a href="{{ url_for('home') }}">Home</a>

<br>You are buying an "item" {{ shop }}

<form action="{{ url_for('user_payment_form', shop_id=shop.id) }}" method=post>
    <!--Payment staff:-->
    <br>
    {{ form.payment_intent.label }}
    {{ form.payment_intent }}
    <br>
    {{ form.payment_method.label }}
    {{ form.payment_method }}
    <br>
    {{ form.item.label }}
    {{ form.item }}
    <br>
    {{ form.payment_description.label }}
    {{ form.payment_description }}
    <br>
    {{ form.amount_total.label }}
    {{ form.amount_total }}
    <br>
    {{ form.amount_currency.label }}
    {{ form.amount_currency }}

    <!--Card stuff-->
    <br>
    {{ form.card_type.label }}
    {{ form.card_type }}
    <br>
    {{ form.card_number.label }}
    {{ form.card_number }}
    <br>
    {{ form.card_expire_month.label }}
    {{ form.card_expire_month }}
    <br>
    {{ form.card_expire_year.label }}
    {{ form.card_expire_year }}
    <br>
    {{ form.card_first_name.label }}
    {{ form.card_first_name }}
    <br>
    {{ form.card_last_name.label }}
    {{ form.card_last_name }}

    <!--Submit button-->
    <br>
    {{ form.submit }}
</form>

{% endblock %}